<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>transactions.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AuthFile" class="ch.qos.logback.core.FileAppender">
        <file>auth.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="pl.lodz.p.it.ssbd2024.ssbd01.util.logger.TxAspect" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="pl.lodz.p.it.ssbd2024.ssbd01.util.logger.AuthAspect" level="INFO">
        <appender-ref ref="AuthFile"/>
    </logger>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

</configuration>
